 <h2>Add Room</h2>
    
    <form method="POST" action="/room/add">

        <label>Title</label>
        <input type="text" name="title" id="title"> <br><br>

        <label>Price</label>
        <textarea id="price" name="price"></textarea><br><br>

        <label>Description</label>
        <input type="text" name="description" id="description"> <br><br>

        <br><br>

        <input type="submit" value="Add Task">

    </form>