{{!-- Search Form --}}
<section class="search_bg">
  <h1 class="search_title">Book homes, hotels, and more on <span class="highlight">Airbnb.</span> </h1>
  <form class="search">
    WHERE 
    <input type="text" name="where" placeholder="Anyware">
    CHECK-IN: 
    <input type="date" name="checkin">
    CHECK-OUT: 
    <input type="date" name="checkin">
    GUESTS: 
    <div class="guests">
      <select name="guests">
        <option>1 guest</option>
        <option>2 guest</option>
        <option>3 guest</option>
        <option>4 guest</option>
        <option>5 guest</option>
        <option>6 guest</option>
        <option>7 guest</option>
        <option>8 guest</option>
        <option>9 guest</option>
        <option>10 guest</option>
        <option>10+ guest</option>
      </select>
    </div>
    <input type="submit" value="Search" class="search_btn">
  </form>
</section>


{{!-- Featured Listing --}}
<section class="promo-section">
  <ul class="slider">
    {{#each listings}}
    <li class="slider-item active">
      <div class="vertical">
        <div class="intro">
          <h1 class="title"><span class="underline">{{this.title}}</span></h1>
        </div>
        <div class="image-holder">
          <img src="{{this.image}}" alt="featured room images" class="">
        </div>
        <p class="description"> {{this.price}} </p>
      </div>
    </li>
     {{/each}}
  </ul>

  <div class="controls">
    <button class="slideBtn previous">
    <p><</p>
    </a>
    <button class="slideBtn next">
    <p>></p>
    </a>
  </div>
</section>

{{!-- Informational Section --}}
<section class="section-testimonials">
    <h2>Our customers can't live without us</h2>

  <div class="row">
    <div class="review_one">
      <blockquote>
      My experience thus far has been positive. I have pre-booked my stays months in advance for my stays in Puerto Rico, Hawaii, Philippines, Thailand, and India. I have not yet been disappointed. Listings have been accurate, hosts have been accommodating, and the checkin process has been trouble free.
      <cite><img src="/img/customer-1.jpg" alt="Customer 1 photo">Alberto Duncan</cite>
      </blockquote>
    </div>

    <div class="review_two">
      <blockquote>
      The app works very well and makes it easy to search for options. In particular, the filters and list vs. map views are very helpful.
      <cite><img src="/img/customer-2.jpg" alt="Customer 2 photo">Joana Silva</cite>
      </blockquote>
    </div>
    
    <div class="review_three">
      <blockquote>
      I love being able to save on housing needs especially compared to hotel stays or other living arrangements.
      <cite><img src="/img/customer-3.jpg" alt="Customer 3 photo">Milton Chapman</cite>
      </blockquote>
    </div>
  </div>
</section>