@import url('https://fonts.googleapis.com/css?family=Barlow:400,500,700');
 * {
	 box-sizing: border-box;
}
 *::before, *::after {
	 box-sizing: border-box;
}
 body {
	 font-family: 'Barlow', sans-serif;
	 font-size: 1.125rem;
	 font-weight: 400;
	 line-height: 1.6;
	 color: #8d8d8d;
	 background: #fff;
	 text-rendering: optimizeLegibility;
	 overflow-x: hidden;
}
 a {
	 color: #8d8d8d;
	 text-decoration: none;
}
 a:hover {
	 color: #232323;
}
 
/* Navigation */
nav {
	 position: relative;
	 z-index: 2;
	 padding: 1.25rem 0 1.25rem 0;
}
 nav ul {
	 line-height: 2.2;
	 display: flex;
	 justify-content: flex-start;
}
 nav ul li {
	 margin: 0.325rem 0;
}
 #logo {
	 color: #232323;
	 font-weight: 700;
	 font-size: 1.125rem;
}
 #highlight {
	 color: #e83f43;
}
 img {
	 width: 100%;
	 height: 43vh;
	 object-fit: cover;
}
 .vertical {
	 flex-direction: column;
	 justify-content: center;
	 align-items: center;
}
 .intro {
	 position: relative;
	 z-index: 2;
	 opacity: 0;
	 animation: fadeIn 0.8s 0.4s ease forwards;
}
 .intro .title {
	 display: inline-block;
	 font-size: 2rem;
	 font-weight: 500;
	 line-height: 1.1;
	 text-decoration: underline;
	 color: #e83f43;
}
 .intro .title .underline {
	 color: #232323;
}
 .description {
	 position: relative;
	 z-index: 1;
	 margin: 1rem 0 1.5rem 0;
	 font-size: 1rem;
	 opacity: 0;
	 animation: fadeIn 0.8s 0.6s ease forwards;
}
 .slider-item {
	 display: none;
}
 .slider-item.active {
	 display: block;
}
 .slider-item.active .hide-mobile {
	 display: none;
}
 .slider-item.active .show-mobile {
	 display: block;
	 margin: 1rem 0;
}
 button {
	 position: relative;
	 display: inline-block;
	 cursor: pointer;
	 outline: none;
	 border: 0;
	 vertical-align: middle;
	 text-decoration: none;
	 background: transparent;
	 margin: 0;
	 padding: 0;
	 font-size: 100%;
	 font: inherit;
	 font-size: inherit;
}
 .controls {
	 position: relative;
	 z-index: 1;
	 display: flex;
	 justify-content: flex-end;
	 padding: 0.25rem 0 0.25rem 0;
}
 .controls .previous {
	 border: 1px solid #232323;
}
 .controls .previous:hover i {
	 transform: scale(1.5);
}
 .controls .next {
	 border-top: 1px solid #232323;
	 border-right: 1px solid #232323;
	 border-bottom: 1px solid #232323;
}
 .controls .next:hover i {
	 transform: scale(1.5);
}
 .previous, .next {
	 display: flex;
	 align-content: center;
	 justify-content: center;
	 flex-basis: 15%;
	 font-size: 2rem;
	 color: #232323;
}
 .previous i, .next i {
	 transition: all 0.1s ease;
}
 .active .image-holder::before {
	 position: absolute;
	 content: '';
	 z-index: 1;
	 display: block;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background: #fff;
	 transform-origin: 100% 50%;
	 animation: revealRight 1s cubic-bezier(0.23, 1, 0.75, 1) forwards;
}
 @keyframes revealRight {
	 0% {
		 transform: scaleX(1);
	}
	 100% {
		 transform: scaleX(0);
	}
}
 @keyframes fadeIn {
	 0% {
		 opacity: 0;
	}
	 100% {
		 opacity: 1;
	}
}
 @keyframes fadeInLeft {
	 0% {
		 opacity: 0;
		 transform: translateX(20%);
	}
	 100% {
		 opacity: 1;
		 transform: translate(0);
	}
}
 .toggle-nav {
	 display: flex;
	 justify-content: flex-end;
	 font-size: 1rem;
	 line-height: 1.9;
}
 .toggle-nav i {
	 font-size: 1.5rem;
	 line-height: 1.3;
	 margin: 0 0 0 0.5rem;
}
 
.flex-nav ul {
    position: absolute;
    z-index: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    left: 0;
    padding: 1rem;
    background: #fff;
    text-align: right;
}

.flex-nav a {
	float: left;
	text-align: right;
	padding: 14px 16px;
	text-decoration: none;
}

/* Search form */
.search_bg {
	background-image: url(https://images.unsplash.com/photo-1530789253388-582c481c54b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
	padding: 5em 0;
}

.search {
	display: block;
	width: 40%;
	background-color: white;
	padding: 1.5em;
	margin-left: 2em;
	border-radius: 1em;
}

.search_title {
	size: 3em;
}

/* Registration */
.form-popup {
	display: none;
	font-size: 0.7em;
	width: 20%;
	border: 3px solid #f1f1f1;
	z-index: 9;
	padding: 2em;
}
.tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
}
.tab-group:after {
    content: "";
    display: table;
    clear: both;
}
.tab-group li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    transition: 0.5s ease;
}
.tab-group li a:hover {
    background: #FF5A5F;
    color: #fff;
}
.tab-group .active a {
    background: #FF5A5F;
    color: #fff;
}
.tab-content > div:last-child {
    display: none;
}

label {
    transform: translateY(6px);
    color: black;
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
}
label .req {
    margin: 2px;
    color: #FF5A5F;
}
label.active {
    transform: translateY(50px);
    left: 2px;
}
label.active .req {
    opacity: 0;
}
label.highlight {
    color: #fff;
}
input, textarea {
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid gray;
    color: black;
    border-radius: 0;
    transition: border-color 0.25s ease, box-shadow 0.25s ease;
}
input:focus, textarea:focus {
    outline: 0;
    border-color: #FF5A5F;
}
textarea {
    border: 2px solid black;
    resize: vertical;
}
.field-wrap {
    position: relative;
    margin-bottom: 40px;
}
.top-row:after {
    content: "";
    display: table;
    clear: both;
}
.top-row > div {
    float: left;
    width: 48%;
    margin-right: 4%;
}
.top-row > div:last-child {
    margin: 0;
}
.button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    background: #FF5A5F;
    color: #fff;
    transition: all 0.5s ease;
    -webkit-appearance: none;
}
.button:hover, .button:focus {
    background: #FF5A5F;
}
.button-block {
    display: block;
	width: 50%;
	margin: 0 auto;
}
.forgot {
    margin-top: -20px;
    text-align: right;
}

/* Informational Section */
.section-testimonials {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(https://images.unsplash.com/photo-1580877989206-407d08157b0e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(https://images.unsplash.com/photo-1580877989206-407d08157b0e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
    background-size: cover;
    color: #fff;
	background-attachment: fixed;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

cite img {
	height: 45px;
	width: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

/* Footer */
footer {
	background-color: #252625;
	color: white;
	line-height: 1.5;
  }
  footer a {
	text-decoration: none;
	color: white;
  }
  
  footer a:hover {
	text-decoration: underline;
  }
  
  footer li {
	list-style: none;
  }
  
  .ft-title {
	color: #fff;
	font-family: "Courgette", serif;
	font-size: 1.375rem;
	padding-bottom: 0.625rem;
  }
  
  /* Sticks footer to bottom */
  body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
  }
  .container {
	flex: 1;
  }
  
  /* Footer main */
  .ft-main {
	padding: 1.25rem 1.875rem;
	display: flex;
	flex-wrap: wrap;
  }
  @media only screen and (min-width: 29.8125rem /* 477px */) {
	.ft-main {
	  justify-content: space-evenly;
	}
  }
  @media only screen and (min-width: 77.5rem /* 1240px */) {
	.ft-main {
	  justify-content: space-evenly;
	}
  }
  .ft-main-item {
	padding: 1.25rem;
	min-width: 12.5rem;
  }
  
  /* Footer main | Newsletter form */
  .email {
	text-align: center;
  }
  
  input[type="email"] {
	border: 0;
	padding: 0.625rem;
	margin-top: 0.3125rem;
  }
  input[type="submit"] {
	background-color:#D98236;
	color: #F2F2F2;
	cursor: pointer;
	border: 0;
	padding: 0.625rem 0.9375rem;
	margin-top: 0.3125rem;
  }

  /* Footer social */
  .ft-social {
	padding: 0 1.875rem 1.25rem;
  }
  .ft-social-list {
	display: flex;
	justify-content: center;
	border-top: 1px #777 solid;
	padding-top: 1.25rem;
	
  }
  .ft-social-list li {
	margin: 0.5rem;
	font-size: 1.25rem;
	list-style: none;
  }

  /* Footer legal */
  .ft-legal {
	  padding: 0.9375rem 1.875rem;
	  background-color: #f7f7f7;
	color: black;
  }
  
  .ft-legal a {
	color: black;
  }
  
  .ft-legal-list {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
  }
  .ft-legal-list li {
	margin: 0.125rem 0.625rem;
	white-space: nowrap;
  }
  /* one before the last child */
  .ft-legal-list li:nth-last-child(2) {
	  flex: 1;
  }

/* listing grid */
.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
}

.rental_name {
	color: black; 
}